<div align="center">
  <h4>Welcome to Yearbook!</h4>
  <br>
  <p>Yearbook is an alternative social networking website built exclusively for college students. The website will share resemblance with Facebook, the world’s most popular
  social networking site. The goal of this website is taking the great parts of Facebook (timeline, profile,
  friend system), removing the bad parts of Facebook, and combining several other ideas from social
  networking giants and combine them into one exclusive social networking hub.</p>
  <br>
  <p>Built by <a href="http://pickuperic.com" target="_blank">Eric Pickup</a> for our COMP-2707 final project.</p>
  <br>
  <p>Please hit the <b>Log In</b> button at the top right to access Yearbook!</p>
  <i>Note: Accounts are built using Google OAuth, allowing you to sign with your UWindsor account through Google sign-in (similar to signing into any website using your Google account)</i>
  <br>
  <br>
  <%= image_tag "globe.jpg", width: "50%", height: "auto", alt: "Image of globe" %>
</div>
