<br>
<h1>Find friends</h1>
<% @random_users.each do |user| %>
  <div class="card w-100">
    <div class="card-body">
      <h5 class="card-title"><%= link_to user.name, user_path(user) %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= user.college %></h6>
      <div class="card-text">
        <p><b>Relationship status:</b> <%= user.relationship %></p>
        <p><b>Location:</b> <%= user.location %></p>
      </div>
    </div>
  </div>
  <br><br>
<% end %>
